RewriteEngine On
# Home page
Redirect /index.shtml   /home
Redirect /index.html    /home
# Rest of them
Redirect /summer.shtml  /summer-program
Redirect /staff.shtml   /summer-program/staff
Redirect /faq.shtml     /summer-program/faq
Redirect /yearround.shtml /year-round-program
Redirect /application.shtml /summer-program/application
Redirect /reflections.shtml /mathematical-reflections
Redirect /forum.shtml /forum
Redirect /amypayment.shtml /mathematical-reflections/registration
Redirect /problems-book.shtml /xyz-press

# BEGIN WordPress
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]

# END WordPress
RewriteCond %{HTTP_HOST} ^awesomemath-org.craciunoiu.net$ [OR]
RewriteCond %{HTTP_HOST} ^www.awesomemath-org.craciunoiu.net$
RewriteRule ^/?$ "http\:\/\/awesomemath\.org" [R=301,L]

